{
    "Logging": {
      "LogLevel": {
        "Default": "Trace",
        "Microsoft.AspNetCore": "Trace"
      }
    },
    "OpenAIConfiguration": {
      "ModelName": "{{ azuregpt4omodelname }}",
      "ModelId": "{{ azuregpt4omodelId }}",
      "EndPoint": "{{ azureopenaiendpoint }}",
      "Key": "{{ azureopenaiapikey }}",
      "EmbeddingModelName": "{{ gpt4-32Kembeddingmodelname }}"
    },
    "ConnectionStrings": {
      "MongoDB": "{{ mongodbconnectionstring }}",
      "BlobStorage": "{{ blobstorageconnectionstring }}"
    },
    "KernelMemory": {
      "ServiceUrl": "http://kernelmemory-service/"
    },
    "DocumentPreprocessing": {
      "processwatcherUrl": "{{ documentpreprocessingprocesswatcherurl }}"
    },
    "BenchmarkProcessing": {
      "processwatcherUrl": "{{ benchmarkprocesswatcherurl }}"
    },
    "GapAnalysisProcessing": {
      "processwatcherUrl": "{{ gapanalysisprocesswatcherurl }}"
    },
    "AntiSSRF": {
    "AllowedDomains": "microsoft.seismic.com"
    }
  }
  